@import url('https://fonts.googleapis.com/css2?family=Livvic&family=Marck+Script&display=swap');

body{
    font-size: 20px;
}

.navbar .brand{
    padding-top:3%;
    padding-left: 3%;
}

.brand{
    font-family: 'Marck Script', cursive;
    margin:0;
}

h1{
    font-size: 64px;
}

h2{
    font-size: 48px;
}

.carousel-caption h5{
    font-size: 28px;
}

.carousel-caption h4{
    font-size: 36px;
}

span.underline{
  position: relative;
}

span.underline::after{
  content: '';
  left: 50%;
  transform: translateX(-50%);
  width: 50%; 
  height: 3px;
  display: block; 
  margin-top: 24px;
  margin-bottom: 24px;
  position: absolute;
  background-color: var(--color-acent-10-md);
}

body{
  font-family: 'Livvic', sans-serif;
}