.circleImgContainer{
  border-style:dashed;
  border-width: 8px;
  overflow: hidden;
  aspect-ratio: 1;
  border-radius: 50%;
  position:relative;
}

#products img{
  height: auto;
/*   max-width: 280px;
  max-height: 280px;
  position: relative;
  top: 30px; */
}